
/*Diseño página Principal*/

header, section, footer, aside, nav, article { 
	display: block; 
}

body {
    margin: 0;
}

* a {
    text-decoration: none;
}

@font-face {
    font-family: MisLetras;
    src: url("./fonts/titlesh1.ttf"); 
}

@font-face {
    font-family: MisLetras2;
    src: url("./fonts/Fuente2.ttf");
}

#envoltura {
    background-color: #262633;
    margin: 0;
    overflow-x: hidden;
}

nav ul {
    background-color:  #262633;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3em;
    z-index: 100;
    font-family: MisLetras;
    letter-spacing: 3px;
}

nav img {
    float: left;
    position: relative;
    top: -0.188em;
    height: 70px;
    width: 73px;
    border-radius: 100px;
    padding-left: 8px;
    padding-right: 2px;
}

    nav img:hover {
        border: 0px;
        border-radius: 100px;
        height: 72px;
        width: 75px;
        padding-right: 0px;
    }

nav h1 {
    float: left;
    padding-right: 15px;
    color: #900c3f;
    position: relative;
    top: -8px;
    margin-left: 10px;
}

nav a h1:hover {
    color:  #8e1b48;
}

nav ul li {
    float: left;
}

    nav ul li:hover {
        background-color: rgba(0, 0, 0, 0.2);
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }

        nav ul li a {
            display: block;
            color: white;
            text-align: center;
            padding: 0.875em 2.938em;
        }

            nav ul li a:hover {
                color:  #e0e0e0;
            }

#inicio {
    margin-left: 0.625em;
}

#sugerencias {
    border-style: none;
    float: right;
    background-color: #900c3f;
}

#sugerencias a {
    padding: 0.875em 0.938em;
}

#sugerencias a:hover {
    background-color:  #8e1b48;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color:  #e0e0e0;
}

.active {
    background-color: #900c3f;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.active:hover {
    background-color:  #8e1b48;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    color:  #e0e0e0;
}

div #fondo {
    background: url(./image/background/cover-inicio.jpg) no-repeat fixed;
    background-size: cover;
    width: 100%;
    margin: 0;
    padding: 0% 0% 20%;
}

article #presentacion {
    background-color: rgba(19, 19, 19, 0.8);
    position: relative;
    margin: 0% 25%;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

#presentacion h1 {
    padding-top: 10%;
    font-size: 40px;
    color: #900c3f;
    text-align: center;
    font-family: MisLetras;
}

#presentacion p {
    font-size: 22px;
    color: white;
    text-align: center;
    padding: 3% 4% 4%;
    line-height: 40px;
}

div #buscador {
    float: left;
    width: 25%;
}

#busquedas {
    color: white;
    border-radius: 20px;
    background-color:  #15151d;
    margin: 3%;
    height: 30%;
    width: 80%;
    padding: 6%;
    top: -110px;
    position: relative;
}

#busquedas h3 {
    font-size: 15px;
}

#busquedas ul {
    margin: 0;
    padding: 0;
    line-height: 30px;
    list-style: none;
}

    #busquedas ul li a, ul li a:visited {
        color: #900c3f;

    }

    #busquedas ul li a:hover {
        color: #8e1b48;
    }


div #main {
    float: right;
    display: block;
    width: 75%;
}

#main div #entradas {
    float: left;
}

#contenido #entradas a div {
    display: block;
    border-radius: 20px;
    background-color:  #15151d;
    margin: 1%;
    height: 30%;
    width: 54%;
    padding: 4%;
}

#contenido div h2 {
    color: #900c3f;
    text-align: center;
    font-size: 40px;
    font-family: MisLetras2;
}

#contenido div img {
    width: 80%;
    height: 80%;
    display: block;
    position: relative;
    margin: 0% 10%;
    border-radius: 30px;
}

#contenido div p {
    font-size: 22px;
    margin: 7% 5%;
    width: 90%;
    color: white;
    text-align: center;
    line-height: 30px;
    margin-bottom: 0%;
    padding-bottom: 0;
}

#contenido #lateral {
    float: right;
    width: 20%;
}

aside #comentarios {
    height: 650px;
    width: 16%;
    margin: 0% 1% 0%;
    display: block;
    border-radius: 20px;
    background-color: #15151d;
    top: -110px;
    position: relative;
    overflow-x: hidden;
}

aside div.comentarios_blog {
    overflow-y: scroll;
    float: right;
    width: 16%;
    height: 70%;
}

aside #comentarios h2 {
    font-family: MisLetras2;
    color: #3853a5;
    font-size: 6px;
    border-bottom: solid 1px #fcc497;
    text-align: center;
    letter-spacing: 1px;
}

aside #comentarios h3{
    color: #ffa356;
    padding: 2% 0% 1% 6%;
    margin: 0%;
}

aside #comentarios p{
    padding: 0% 2% 3% 2%;
    color: white;
    text-align: justify;
    font-size: 5px;
    line-height: 30px;
    margin: 0%;
}

footer {
    padding: 0;
    margin: 0;
}

footer p {
    border-top: solid 1px #ffa356;
    font-size: 12px;
    width: 100%;
    color: white;
    float: left;
    padding: 1em 0 1em 1em;
}

#pie {
    clear: both;
    padding: 0.5%;
    text-align: center;
    border-top: 2px solid #900c3f;
    font: 10px verdana, sans-serif; 
    color: #FFFFFF
    }
    
        #pie p {
            margin: 0% auto;
            border: none;
            font: 12px verdana, sans-serif;
        }
    
        img.redessociales {
            margin-top: 1% auto 0%;
            width: 1.5%;
            height: 1.5%;
        }